---
layout: default
title: Teaching
---

<section class="section teaching-section">
  <h2 class="section-title">Teaching Experience</h2>
  <p>{{ site.data.data.teaching.description }}</p>
  
  <div class="teaching-experiences">
    <h3>Teaching Contributions</h3>
    <ul>
      {% for experience in site.data.data.teaching.experiences %}
      <li>
        <strong>{{ experience.course }}</strong> ({{ experience.term }}) - <em>{{ experience.role }}</em><br>
        {{ experience.details }}
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="teaching-materials">
    <h3>Teaching Materials</h3>
    <ul>
      {% for material in site.data.data.teaching.materials %}
      <li>
        <a href="{{ material.file }}" target="_blank">{{ material.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
