{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">
    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}
  </div><!--//profile-container-->

  <!-- Add Navigation Menu -->
  <nav class="sidebar-nav">
    <ul>
      <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li><a href="{{ site.baseurl }}/cv.html">CV</a></li>
      <li><a href="{{ site.baseurl }}/research.html">Research</a></li>
      <li><a href="{{ site.baseurl }}/teaching.html">Teaching</a></li>
      <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
    </ul>
  </nav>

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}
  {% include references.html %}
</div><!--//sidebar-wrapper-->
